Exercises/2/zad3.xml

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Course_Catalog (Department+)>
<!ELEMENT Department (Title, Chair, Course+)>
<!ATTLIST Department Code (CS | EE | LING) #REQUIRED>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Chair (Professor)>
<!ELEMENT Course (Title, Description?, Instructors, Prerequisites?)>
<!ATTLIST Course
Number (CS106A | CS106B | CS107 | CS109 | CS124 | CS143 | CS145 | CS221 | CS228 | CS229 | EE108A | EE108B | LING180) #REQUIRED
Enrollment (1070 | 110 | 130 | 180 | 280 | 320 | 500 | 60 | 620 | 90) #IMPLIED>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Instructors ((Lecturer, Professor*) | (Professor+, Lecturer?))> 
<!-- either a lecturer and >=0 Professors or >=1 Professors and 0 or 1 Lecturer -->
<!ELEMENT Lecturer (First_Name, Middle_Initial?, Last_Name)>
<!ELEMENT First_Name (#PCDATA)>
<!ELEMENT Middle_Initial (#PCDATA)>
<!ELEMENT Last_Name (#PCDATA)>
<!ELEMENT Professor (First_Name, Middle_Initial?, Last_Name)>
<!ELEMENT Prerequisites (Prereq+)>
<!ELEMENT Prereq (#PCDATA)>

<Course_Catalog>
	<Department Code = "CS">
		<Title> Computer Science <\Title>
		<Chair>
			<Professor>
				<First_Name> Jennifer <\First_Name>
				<Last_Name> Widom <\Last_Name>
			<\Professor>
		<\Chair>
		<Course Number = "CS106B" Enrollment = "60">
			<Title> Programming 101	<\Title>
			<Description> Programming basics <\Description>
			<Instructors>
				<Lecturer>
					<First_Name><\First_Name>
					<Middle_Initial><\Middle_Initial>
					<Last_Name><\Last_Name>
				<\Lecturer>
				<Professor>
					<First_Name><\First_Name>
					<Middle_Initial><\Middle_Initial>
					<Last_Name><\Last_Name>
				<\Professor>
			<\Instructors>
			<Prerequisites>
				<Prereq>  <\Prereq>
			<Prerequisites>
		<\Course>
	<\Department>
<\Course_Catalog>
